body {
  margin: 50px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 550px;
  min-width: 550px;
  background-color: rgba(243, 231, 255, 0.452);
  padding: 30px 35px 100px;
  border-radius: 7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.068);
}

.header {
  width: 500px;
  margin: -130px 0 -120px;
}

.bookmark {
  color: purple;
  width: 100px;
}

footer {
  font-size: 12px;
  color: rgb(71, 71, 71);
  margin-top: 20px;
}

footer a {
  color: rgb(170, 105, 196);
  text-decoration: none;
}

footer a:hover {
  color: rgb(119, 51, 148);
}
